# If you want Electrum-Spacecoin to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-spacecoin.desktop

[Desktop Entry]
Comment=Lightweight Spacecoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-zcash %u"
GenericName[en_US]=Spacecoin Wallet
GenericName=Spacecoin Wallet
Icon=electrum-spacecoin
Name[en_US]=Electrum Spacecoin Wallet
Name=Electrum Spacecoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/zcash;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-zcash --testnet %u"
Name=Testnet mode
