# If you want Electrum-Ciphscoin to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-zcash.desktop

[Desktop Entry]
Comment=Lightweight Ciphscoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-zcash %u"
GenericName[en_US]=Ciphscoin Wallet
GenericName=Ciphscoin Wallet
Icon=electrum-ciphscoin.png
Name[en_US]=Electrum Ciphscoin Wallet
Name=Electrum Ciphscoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/zcash;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-zcash --testnet %u"
Name=Testnet mode
